body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #fabfc0;
  color: #0a1520;
  font-family: 'Times New Roman', Times, serif, serif;
  font-style: italic;
}

#app {
  /* display: flex;
  height: 100vh; */
  display: flex;
  justify-content: center;
  align-self: center;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}


h1 {
  font-size: 72px;
  text-align: center;
  color: white;
  margin: 0
}

.form-wrapper {
  flex: auto;
  margin: 0 auto; 
}

.loveForm {
  text-align: center;
  margin: 0 auto;
}

.heart {
  display: flex;
  align-content: center;
justify-content: center;
  width: 369px;
  height: 356px;
  background-image: url(/images/heart.png);
  background-size: 100%;
}

.heart h1 {
  margin: 0;
  align-self: center;
}

.calculateButton {
  height: auto;
  width: 20%;
  margin: 0px 50px;
  padding: 10px;
  outline: 0;
  border:0;
  border-radius:30px ;
  font-family: 'Times New Roman', Times, serif, serif;
  font-style: italic;
  font-size: 36px;
  color: #white;
  background-color:#ed1f2a ;
  text-align: center;

}

.inputs input {
  height: auto;
  margin: 0px 50px;
  padding: 10px;
  border-radius:30px ;
  border:0;
  font-family: 'Times New Roman', Times, serif, serif;
  font-style: italic;
  font-size: 36px;
  background-color: rgba(255, 255, 255, 0.75);
  outline: 0;
  color: #ed1f2a;
  text-align: center;


}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}